<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vincegeralddelaccerna.ezwheels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TradeScrolling"
            android:label="@string/title_activity_trade_scrolling"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ScrollingActivity1"
            android:label="@string/title_activity_scrolling1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity android:name=".LoginShop" />
        <activity android:name=".RegisterShop" />
        <activity
            android:name=".ShopDashboard"
            android:label="@string/title_activity_shop_dashboard"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCn5Caz2H3SqFIIrOSLMJCWYm7n21Oy3VI" />

        <activity android:name=".AddListing" />
        <activity android:name=".Detailed_Listing" />
        <activity android:name=".SetReservationFragment" />
        <activity android:name=".SetTradeinFragment" />
        <activity
            android:name=".ShopDashBoardFragment"
            android:label="@string/title_activity_shop_dash_board_fragment"
            android:theme="@style/AppTheme" />
    </application>

</manifest>